body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #eee;
}

.container {
  margin: 0 15%;
}

.post {
  margin-bottom: 10px;
  animation: fade-in 700ms forwards;
}

.toolbar {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  background-color: white !important;
}

.login-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 64px - 56px);
}

.login-form-wrapper.error > .login-form {
  animation: shake 800ms cubic-bezier(.36,.07,.19,.97) both;
}

.login-form__input {
  display: block !important;
}

.login-form__text {
  line-break: auto !important;
}

.new-post-form {
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: center; */
  height: 1000px;
  min-height: calc(100vh - 64px - 56px);
}

.new-post__input {
  display: block !important;
  width: 100% !important;
}

@media screen and (max-width: 800px) {
  .container {
    margin: 0 5%;
  }

  .post {
    margin-bottom: 0px;
  }
}

/* ANIMATION */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
